{% extends "base.html" %}

{% block content %}

<h1>Edit User</h1>

<form method="post">

    Username

    <br>

    <input
        name="username"
        value="{{ user.username }}">

    <br><br>

    Role

    <br>

    <select name="role">

        <option
            value="user"
            {% if user.role == "user" %}selected{% endif %}>
            User
        </option>

        <option
            value="admin"
            {% if user.role == "admin" %}selected{% endif %}>
            Admin
        </option>

    </select>

    <br><br>

    <button>

        Save

    </button>

</form>

{% endblock %}